{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h1>Consult Doctor</h1></center>
            <div class="card card-body" style="border: 1px solid black;">
                <form class="form-horizontal" action="https://api.web3forms.com/submit" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="access_key" value="8a18fc4d-9a2d-46cd-85c9-be984efe46ce">
                    </div>
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Patient Name" placeholder="Name of Patient " required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Age" placeholder="Patient Age. eg -30" required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Gender" placeholder="Gender eg. Male" required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Contact no." placeholder="Contact no. " required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Email" placeholder="Email id " required>
                    </div>
            	
                    </div>

            		<input type="submit" class="btn btn-info btn-block" value="Consult">
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}