<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
        function sendEmail() {
            Email.send({
                Host: "smtp.gmail.com",
                Username: "adityamalviya5684@gmail.com",
                Password: "neversay", // Note: Use an app password instead of your actual password
                To: 'badenzyme22@gmail.com',
                From: document.getElementById("email").value,
                Subject: "New patient enquiry",
                Body: "Name: " + document.getElementById("name").value +
                    "<br> Age: " + document.getElementById("Age").value + // Changed to Age for clarity
                    "<br> Gender: " + document.getElementById("Gender").value +
                    "<br> Contact no: " + document.getElementById("contactNo").value + // Ensure the ID is correct
                    "<br> Email id: " + document.getElementById("Email").value
            }).then(
                message => alert(message)
            ).catch(
                error => alert("Error: " + error) // Catch any error and alert it
            );
        }
    </script>

</head>
<body>
    

{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h1>Consult Doctor</h1></center>
            <div class="card card-body" style="border: 1px solid black;">
                <form class="form-horizontal" onsubmit="sendEmail(); return false; reset();">
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Patient Name" placeholder="Name of Patient " required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Age" placeholder="Patient Age. eg -30" required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Gender" placeholder="Gender eg. Male" required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Contact no." placeholder="Contact no. " required>
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="Email" placeholder="Email id " required>
                    </div>
            	
                    </div>

            		<input type="submit" class="btn btn-info btn-block" value="Consult">
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>

{% endblock %}

</html>